@{
    ViewData["Title"] = "Home Page";
}

<body>
    <!--<header>-->
        <!--
    <nav>
        <div class="wrapper">
            <div class="logo"><a href=' '>HudanSpace</a></div>
            <div class="menu-left">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="ShowSearchForm">Search</a>
                    </li>
                </ul>
            </div>
            <div class="menu-right">
                <ul>
                    <li><a href="" class="btn-purple">Register</a></li>
                    <li><a href="" class="">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
            -->

    <!--
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HudanSpace</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="ShowSearchForm">Search</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
        -->
    <!--</header>-->

    <div class="wrapper">
        <!--Home-->
        <section id="home">
            <img src="https://image.freepik.com/free-vector/muslim-family-traditional-clothes-reading-holy-book-quran-tiny-people-five-pillars-islam-islamic-calendar-islamic-culture-concept_335657-677.jpg" />
            <div class="kolom">
                <h2 class="deskripsi">Assalamu'alaikum</h2>
                <p>This site is a space to learn the Hudan of our lives, Al-Quran.</p>
                <p><a href="" class="btn-purple">Get Started</a></p>
            </div>
        </section>
        <!--Courses-->
        <section id="courses">
            <div class="kolom">
                <h2 class="deskripsi">Online Courses</h2>
                <p>Connecting ukhuwah with others by Learning Quran together</p>
                <p><a href="" class="btn-purple">Visit Courses</a></p>
            </div>
            <img src="https://image.freepik.com/free-vector/hand-holding-smartphone-with-tutor-screen_1262-20644.jpg" />
        </section>
        <!--Benefit-->
        <section id="benefit">
            <div class="tengah">
                <div class="kolom">
                    <h2 class="deskripsi">Benefit</h2>
                    <p></p>
                </div>

                <div class="benefit">
                    <div class="benefit-list">
                        <img src="https://image.freepik.com/free-vector/internet-lessons-searching-remote-university-educational-programs-online-classes-website-high-school-student-with-magnifying-glass-cartoon-character_335657-3269.jpg" />
                        <p>easy to understand</p>
                    </div>
                    <div class="benefit-list">
                        <img src="https://image.freepik.com/free-vector/student-guy-studying-internet-watching-online-lecture-computer-talking-math-tutor-through-video-call-cartoon-illustration_74855-14524.jpg" />
                        <p>with teacher</p>
                    </div>
                    <div class="benefit-list">
                        <img src="https://image.freepik.com/free-vector/teenager-studying-cartoon-illustration-student-preparing-exams-e-reading-ebooks-archive-pupil-sitting-with-laptop-books-stack-isometric-clipart-distance-learning-education_276875-309.jpg" />
                        <p>learn everytime</p>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <div id="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Hudan Space</h3>
                    <p>A space to learn our Hudan, Al Quran</p>
                </div>
                <div class="footer-section">
                    <h3>About</h3>
                    <p>Online Course specially for learning the Hudan of our life, Al Quran</p>
                </div>
                <div class="footer-section">
                    <h3>Social Media</h3>
                    <p>Coming Soon</p>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2021. <b>HudanSpace</b> All Rights Reserved.
        </div>
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - HudanSpace - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->

</body>
